@model RateMe.Core.Models.Movie
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Movie", FormMethod.Post))
{
    @Html.LabelFor(m => m.Title, "Title")
    @Html.TextBoxFor(m => m.Title)
    <input type="submit" value="Save changes"/>
}


